@inject IOptionsSnapshot<BlogSettings> settings

<div class="container">
	<h1>About Me</h1>
	<p class="about-me-para">
		I am a software developer from İstanbul. I have four years experience as a full-stack developer. Mostly
		I am building web applications with <b>.Net Core</b> and <b>React</b>. I am interested in the process of architectural
		and technical decision making of these applications and will share my experince about these decisions as well.
		I enjoy creating libraries and frameworks which I will be blogging about often. Currenty I am working on
		<a href="https://github.com/mtnoztrk/metime" target="_blank">Metime</a> framework for easing of the timezone pain of
		enterprise applications.
	</p>
	<p class="about-me-para">
		Other than that I like following competitive
		<a href="https://liquipedia.net/dota2/The_International/2020" target="_blank">Dota 2</a>
		games, drawing and traveling.
	</p>
	<p class="about-me-para">
		Even though I don't see myself quite experienced I will try to repay to the community which has helped me a lot
		during my career. I hope that you will leave comment or contact me to correct or improve these writings.
	</p>
	<p class="about-me-para about-me-signature">@settings.Value.Owner</p>
</div>
